:root {
  /* Основні шрифти */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Світла сторона тексту*/
  --accent-txt-cl: #4d5ae5;
  --primary-light-txt: #ffffff;
  --secondary-light-txt: #e7e9fc;
  --third-light-txt: #f4f4fd;

  /* Темна сторона тексту*/
  --main-dark-txt: #000000;
  --primary-dark-txt: #2e2f42;
  --secondary-dark-txt: #434455;

  /* Світла сторона фону */
  --accent-bg: #4d5ae5;
  --second-accent-bg: #404bbf;
  --third-accent-bg: #31D0AA;
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f4f4fd;
  --third-light-bg: #e7e9fc;
  --forth-light-bg: #8E8F99;

  /* Темна сторона фону */
  --primary-dark-bg: #2e2f42; 
  --secondary-dark-bg: rgba(255, 255, 255, 0.1);
  --third-dark-bg: rgba(46, 47, 66, 0.7);
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-light-bg);
  color: var(--primary-dark-txt);
}

/* Утиліти */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}

/* Хедер */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: var(--primary-light-bg);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
  text-transform: uppercase;
  color: inherit;
}
.logo-item {
  color: var(--accent-txt-cl);
}
.nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: inherit;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin-right: 0;
}
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 40px;
}
.contact-mail,
.contact-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--secondary-dark-txt);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-txt-cl);
}
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-txt-cl);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */
.hero {
  max-width: 1440px;
  height: 603px;
  padding-top: 192px;
  padding-bottom: 192px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--primary-dark-bg);
  background-image: linear-gradient(to bottom, var(--third-dark-bg), var(--third-dark-bg)),
  url(../images/bg-picture/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
}
.hero-button {
  font-family: inherit;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  cursor: pointer;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-light-txt);
  background-color: var(--accent-bg);
  border-color: var(--accent-bg);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-accent-bg);
  border-color: var(--second-accent-bg);
}

/* Особливості */
.features-container {
  display: flex;
}
.features-list {
  display: flex;
  align-items: center;
}
.features-item {
  max-width: 264px;
  margin-right: 24px;
}
.features-item:last-child {
  margin-right: 0;
}
.feature-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-descrp {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
}
.features.section {
  padding-bottom: 0;
}
.feature-wrapper {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: var(--secondary-light-bg);
  border-radius: 4px;
}

/*  Робота */
.work-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.work-list {
  display: flex;
  align-items: center;
}
.work-list-item {
  margin-right: 24px;
}
.work-list-item:last-child {
  margin-right: 0;
}

/* Команда */
.team {
  background-color: var(--secondary-light-bg);
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-list {
  display: flex;
  align-items: center;
}
.team-member {
  margin-right: 24px;
}
.team-member:last-child {
  margin-right: 0;
}
.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primary-light-bg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-dev {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
  margin-bottom: 8px;
}

/* Social */
.social-list {
  display: flex;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 24px;
}
.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bg);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--second-accent-bg);
}

/* Customers */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  align-items: center;
}
.customers-item:not(:last-child) {
  margin-right: 24px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--forth-light-bg);
  border-radius: 4px;
}
.customers-icon {
  fill: var(--forth-light-bg);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-bg);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-bg);
}

/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-dark-bg);
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-wrapper {
  margin-right: 120px;
}
.footer-thumb {
  display: flex;
  flex-direction: column;
}
.footer-link {
  display: block;
  font-family: var(--secondary-font);
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-light-txt);
}
.footer-logo {
  color: var(--accent-txt-cl);
}
.footer-descr {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-light-txt);
}
.footer-social {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  align-items: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-dark-bg);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--third-accent-bg);
}

/* Портфоліо*/
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
.filter-item:not(:last-child) {
  margin-right: 24px;
}
.filter-btn-current,
.filter-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 16px;
  background-color: var(--secondary-light-bg);
  color: var(--accent-txt-cl);
  border: 1px solid var(--third-light-bg);
  cursor: pointer;
  border-radius: 4px;
}
.filter-btn-current {
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  border-color: var(--accent-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-bg);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 0.5px solid var(--secondary-light-bg);
  border-top: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-dark-txt);
}
.portfolio-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
}
